/* post-add */
#info_bar {
    transition: .4s;
}

#photo_container {
    overflow-y: hidden;
    overflow-x: visible;
    width: 100%;
    height: 20vw;
    min-height: 250px;
    display: flex;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#photo_container::-webkit-scrollbar {
    display: none;
}

.p-card {
    width: 20%;
    padding-right: 1rem;
}

.p-card:last-child {
    padding-right: 0px;
}

.photoItem {
    width: 100%;
    height: 100%;
    position: relative;

}


.up-photo {
    max-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fa-circle-minus {
    position: absolute;
    font-size: 20px;
    text-align: end;
    width: 26px;
    height: 26px;
    top: -6px;
    right: 0;
    color: rgba(134, 134, 134, 0.75);
    cursor: pointer;
    transform: translateX(33.3%);
}

.fa-circle-minus:hover {
    top: -8px;
    right: 0;
    color: rgb(0, 0, 0);
}

.f_tag::-webkit-input-placeholder {
    color: rgba(115, 115, 121, 0.785);
    font-style: italic;
}

.h_tag {
    height: 32px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    border-radius: 16px;
    background: rgb(224, 224, 224);
    padding: 8px 16px;
    white-space: nowrap;

}

.h_tag:hover{
    background-color: #7c7c7ccb;
}

.cars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;

}

#tag {
    border:none;
}

.search_col{
    width: 20%;
    border-radius:4px;
    border: 1.1px solid #ccc;

}



.s_col{
    padding:6px 12px;

}

.s_col:hover{
    background-color: #e1e1e17b;;
}