/* post-add */
#info_bar {
    transition: .4s;
}

#photo_container {
    overflow-y: hidden;
    overflow-x: visible;
    width: 100%;
    height: 20vw;
    min-height: 250px;
    display: flex;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#photo_container::-webkit-scrollbar {
    display: none;
}

.card-title{
    color: rgb(136, 88, 36);
}

.p-card {
    width: 20%;
    padding-right: 1rem;
}

.p-card:last-child {
    padding-right: 0px;
}

.photoItem {
    width: 100%;
    height: 100%;
    position: relative;

}


.up-photo {
    max-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fa-circle-minus {
    position: absolute;
    font-size: 20px;
    text-align: end;
    width: 26px;
    height: 26px;
    top: -6px;
    right: 0;
    color: rgba(134, 134, 134, 0.75);
    cursor: pointer;
    transform: translateX(33.3%);
}

.fa-circle-minus:hover {
    top: -8px;
    right: 0;
    color: rgb(0, 0, 0);
}

.f_tag::-webkit-input-placeholder {
    color: rgba(115, 115, 121, 0.785);
    font-style: italic;
}

.tag_rect {
    display: flex;
    flex-wrap: wrap;
}

.h_tag {
    display: inline-block;
    height: 32px;
    font-weight: 500;
    color: rgb(6, 95, 212);
    font-size: 14px;
    border-radius: 16px;
    background: rgb(224, 224, 224);
    padding: 0 20px;
    white-space: nowrap;
    position: relative;
    margin-right: .5rem;
    margin-bottom: .5rem;
    line-height: 32px;
}

.h_tag::before {
    content: '#';
    display: block;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.h_tag::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 800;
    font-size: 10px;

    content: '\f2d3';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-42.5%);
}

.h_tag:hover {
    background-color: #7c7c7ccb;
}

.h_tag:hover.h_tag::after {
    color: #f22626df;
}

.cars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;

}

#tag {
    border: none;
    padding-left: 18px;
}

.wrap {
    position: relative;
    z-index: 100;
    height: 40px;
}

.search_col {
    position: absolute;
    width: 20%;
    border-radius: 6px;
    border: 1.1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 1px 1px 6px 2px #d5d5d571;

}



.s_col {
    background-color: #fff;
    padding: 6px 12px 6px 18px;
    position: relative;
}

.s_col::before {
    display: block;
    content: '#';
    position: absolute;
    left: 6px;
    font-weight: 900;
    color: rgb(6, 95, 212)
}

.s_col:hover {
    background-color: #bfbfbf;

}



.form-control:focus {
    box-shadow: none !important;
}