* {
    margin: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin-bottom: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #3397cf;
}


.ml-auto {
    margin-left: auto;
}

.mr-20 {
    margin-right: 20px;
}

.mb-10{
    margin-bottom: 4.5rem;
}


.mr-1 {
    margin-right: .5rem;
}

.mr-2 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 1.5rem;
}

.pr-3{
    padding-right: 1.5rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.text-pink {
    color: rgb(254, 128, 170);
}


/* post-list */
#show-ppg {
    display: flex;
}

.show-span {
    align-self: center;

}

select {
    border-radius: 4px;
    border-color: #dee2e6;
}

.search-select {
    border-right: 0px;
    border-radius: 4px 0 0 4px;
    border-color: #dee2e6;

}

.pl-img-wrap{
    width: 100%;
    max-height: 200px;
}

.pl-img{
    width: 100%;
    max-height: 200px;
}

#search {
    border-radius: 0 4px 4px 0;
    border-width: 0.5px;
    border-style: solid;
    margin-right: 5px;
    padding: 0px;
    border-color: #dee2e6;
    box-shadow: none;
    outline: none;
}

.search-result {
    display: flex;
    align-items: end;
}



/* post-detail */
.page {
    position: relative;
    width: 100%;
}

.page .fa-arrow-left {
    position: absolute;
    text-align: center;
    line-height: 48px;
    font-size: 20px;

    width: 48px;
    height: 48px;
    top: 10px;
    left: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
}

.page .fa-arrow-left:hover {
    background-color: rgba(212, 212, 212, 0.537);

}

.container-nis {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.mh-80 {
    min-height: 80vh;
}



.span-btn:hover {
    cursor: pointer;
}

.post-wrap {
    width: 70%;
    max-width: 1168px;
    height: 85vh;

    margin-right: auto;
    margin-left: auto;
    box-shadow: 4px 10px 25px 8px rgba(193, 193, 193, 0.5);
    border-radius: 10px;
    overflow: hidden;
}


.post-content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 45%;

}

.content-top {
    height: 92%;
    overflow-y: scroll;
}

/* 愛心 */
.fa-heart {
    color: rgb(252, 162, 162);
    padding-left: 5px;
}


.heart_red{
    color: rgb(255, 47, 47) !important;
 
}

.animate__fadeOutUp{
    animation-fill-mode:backwards;
}


.content-top::-webkit-scrollbar {
    display: none;
}

.cmt-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rply-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-bot {
    height: 8%;
}

.cmt-bar a {
    padding-left: 10px;
    width: 50px;
    line-height: 40px;
    display: block;
    flex-shrink: 0;
}

.rply-bar a {
    padding-left: 10px;
    width: 50px;
    line-height: 40px;
    display: block;
    flex-shrink: 0;
}


.m-nickname {
    font-weight: bold;
}

.c-nickname {
    font-weight: bold;
}

.member-info {
    padding-top: 10px;
    display: flex;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
}
.avatar-sm {
    width: 24px;
    height: 24px;

}

.avatar img{
    width: 100%;
    height: 100%;
}

.comment-wrap {
    font-size: 16px;
    line-height: 1.2rem;
}

.comment-wrap p {
    margin-bottom: 0rem;
}

.comment-card {
    padding-top: 12px;
}

.reply-card {
    padding-top: .5rem;
    padding-left: 38px;
}

.comment-info {
    display: flex;
    flex-shrink: 0;
    padding-right: 0.5rem;
    /* align-items: center; */
}

.comment-info .avatar {
    margin-top: -2px;
}

.comment-info .info {
    display: flex;
    flex-direction: column;
}

.comment-msg {

    display: flex;
    font-size: 12px;
    color: #69696b;
}

.info-id {
    color: #69696b;
    font-size: 12px;
    line-height: 0.8rem;
}

.c-date {
    color: #69696b;
    font-size: 14px;
    align-self: center;
}

/* 圖片slider */
.pic-wrap {
    flex-shrink: 0;
    width: 55%;
    position: relative;
    background-color: rgba(239, 235, 229, 0.4);
    overflow-x: hidden;
}

.drag-nav {
    position: absolute;
    bottom: 10px;
    color: rgb(165, 165, 165);
    text-align: center;
    left: 50%;
    margin-left: auto;
    margin-right: auto;

    transform: translateX(-50%);
}

.prvnxt {
    color: rgb(165, 165, 165);
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    text-shadow: 0.1em 0.1em 0.2em rgb(56, 56, 56);
    opacity: .8;
}

.prv {
    left: .75rem;
    transform: translateY(-50%) translateX(50%);

}

.nxt {
    right: .75rem;
    transform: translateY(-50%) translateX(-50%);
}


.prvnxt:hover {
    color: #a9c7e4;
}

.nav-ul {
    padding: 5px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li.drag-ctrl {
    font-size: 1px;
    cursor: pointer;
    width: 20px;
    height: 20px;

    /* text-align: center; */
    line-height: 20px;
    margin-right: 12px;
}

li.drag-ctrl:last-child {
    margin-right: 0px;
}

li.n-selected {
    color: #a9c7e4;
}

.drag-row {
    position: absolute;
    background-color: rgba(239, 235, 229, 0.4);
    overflow-y: hidden;
    display: flex;
    align-items: center;

    left: 0;
    transition: .3s;
    height: 100%;
}


.drag-col {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.3%;

}

.pic {
    /* max-height: 100%;   */
    max-width: 100%;
    width: 100%;
    height: auto;


}


.comment-info .fa-circle-user {
    font-size: 28px;
}

.comment-content {
    font-size: 15px;
    line-height: 1.2rem;
    margin-top: -1px;
}

.tag-bar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social {
    font-size: 16px;
    color: rgba(28, 28, 28, 0.75);
}

.tag-bar .tag {
    height: 32px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    border-radius: 16px;
    background: #e7e7e7da;
    padding: 0px 16px;
    white-space: nowrap;
}

.tag-bar .tag:hover{
    background: #c1c1c1c5;
}


/* post-detail */
/* comment */


