<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../fontawesome/css/all.min.css">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }
        [coffee-op0] {
            opacity: 0;
        }
        #app {
            margin-top: 20px;
        }
        [v-cloak] {
            display: none !important;
        }
        .visaully_hidden {
            position: absolute;
            clip: rect(1px 1px 1px 1px);
            clip-path: inset(0px 0px 99.9% 99.9%);
            overflow: hidden;
            height: 1px;
            width: 1px;
            padding: 0;
            border: 0;
        }
        input[type=number]::-webkit-inner-spin-button {
            appearance: none;
        }
        .list_bord {
            width: 80%;
            margin: 0px auto;
        }
        .cart_block {
            list-style-type: none;
            padding: 0px;
            margin-bottom: 10px;
        }
        .cart_block li {
            padding: 10px 20px;
            border: 1px solid #ccc;
        }
        .cart_block li:first-child {
            border-radius: 20px 20px 0px 0px;
        }
        .cart_block li:last-child {
            border-radius: 0px 0px 20px 20px;
        }
        .cart_img_wrap {
            width: 100px;
            aspect-ratio: 1;
        }
        .cart_img_wrap img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
        .cart_card {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .list-leave-active {
            transition: all .5s ease;
        }

        .list-leave-from {
            transform: translateX(0px);
            opacity: 1;
        }

        .list-leave-to {
            transform: translateX(30px);
            opacity: 0;
        }
    </style>
</head>

<body coffee-op0>
    <div id="app" v-cloak>
        <div class="cart_wrap">
            <div class="list_bord">
                <ul class="cart_block" v-for="(data,index) of dataArray">
                    <transition-group name="list" mode="out-in">
                        <li v-for="item of data" v-show="item.display === 1" key="item">
                            <div class="cart_card">
                                <div class="cart_img_wrap">
                                    <img :src="item.src" :alt="item.name">
                                </div>
                                <p>
                                    {{item.name}}
                                    <span v-if="item.ice">({{item.ice}})</span>
                                    <span v-if="item.sugar">({{item.sugar}})</span>
                                </p>
                                <p>{{item.price}} 元</p>
                                <div class="cart_list_button_group">
                                    <button @click="change(item,-1)">-</button>
                                    <input type="number" v-model.number="item.quantity" @keyup="verify(item,$event)">
                                    <button @click="change(item,1)">+</button>
                                </div>
                                <p>小記 {{item.price * item.quantity}}</p>
                                <button @click="deleteHandler(index,item)"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </li>
                    </transition-group>
                </ul>
            </div>
            <div class="coupon_bord">
                <label :for="'id' + coupon.id" v-for="coupon of couponArray">
                    <input type="radio" :id="'id' + coupon.id" :value="coupon.id" v-model="radio">
                    {{coupon.name}}
                </label>
            </div>
            <p>優惠卷: {{couponName}}</p>
            <button @click="couponDeny">不使用優惠卷</button>
            <div class="price_bord">
                <p>總計: {{total}}</p>
                <p>折扣: {{discountDisplay}}</p>
                <p>結算價: {{parseInt(tweened)}}</p>
            </div>
            <a href="javascript:;" @click="sendData">前往結帳頁</a>
        </div>
        <pre class="visaully_hidden">{{discountDisplay}}</pre>
    </div>

    <script src="../../js/vue.global.js"></script>
    <script src="../../js/gsap.min.js"></script>
    <script>
        let PCBtnOpened = false;

        const openMenu = () => {
            document.querySelector(".navinner_pc").classList.add("is-open");
        };
        const closeMenu = () => {
            document.querySelector(".navinner_pc").classList.remove("is-open");
        };

        const ShowMyPC = () => {
            PCBtnOpened = !PCBtnOpened;
            if (PCBtnOpened) {
                openMenu();
            } else {
                closeMenu();
            }
        };
        const vm = Vue.createApp({
            data() {
                return {
                    productArray: [],
                    foodArray: [],
                    dataArray: [],
                    couponArray: [],
                    cartLength: 0,
                    discountDisplay: 0,
                    radio: undefined,
                    tweened: 0,
                }
            },
            computed: {
                selectedCoupon() {
                    if (this.radio === undefined) {
                        return undefined;
                    }
                    return this.couponArray.filter((data) => {
                        return data.id === this.radio;
                    })[0];
                },
                couponName() {
                    if (this.selectedCoupon === undefined) {
                        return "無";
                    } else {
                        return this.selectedCoupon.name;
                    }
                },
                total() {
                    let output = 0;
                    this.dataArray.forEach((data) => {
                        data.forEach((item) => {
                            output += item.price * item.quantity;
                        });
                    });
                    return output;
                },
                //真正的最後價格
                settle() {
                    return this.total - this.discountDisplay;
                },
            },
            methods: {
                change(obj,num) {
                    obj.quantity += num;
                    if (obj.quantity <= 0) {
                        obj.quantity = 0;
                    }
                },
                deleteHandler(index,obj) {
                    let deleteLIst = window.confirm("您確定要刪除嗎?");
                    if(deleteLIst) {
                        obj.display = 0;
                        new Promise((resolve,reject) => {
                            setTimeout(() => {
                                this.dataArray[index] = this.dataArray[index].filter((data) => {
                                    return obj.key !== data.key;
                                })
                                const fd = new FormData();
                                fd.append("product", JSON.stringify(this.dataArray[0]));
                                fd.append("food", JSON.stringify(this.dataArray[1]));
                                fetch("./delete_session_api.php", {
                                    method: "POST",
                                    body: fd
                                })
                                .then(data => data.json())
                                .then(data => {
                                    console.log(data);
                                })
                                resolve();
                            },470);
                        })
                        .then(() => {
                            this.checkQuantity();
                        })
                    }
                },
                verify(obj,event) {
                    event.target.value = event.target.value.replace(/^(0+)|[^\d]+/g, "");
                    obj.quantity = event.target.value;
                    if (obj.quantity === "") {
                        obj.quantity = 0;
                        event.target.value = 0;
                    }
                    obj.quantity = parseInt(obj.quantity);
                    //最大庫存
                    if (obj.quantity > obj.stock) {
                        obj.quantity = obj.stock;
                    }
                },
                couponDeny() {
                    this.radio = undefined;
                },
                sendData() {
                    const fd = new FormData();
                    fd.append("product", JSON.stringify(this.dataArray[0]));
                    fd.append("food", JSON.stringify(this.dataArray[1]));
                    fd.append("displayTotal", JSON.stringify(this.settle));
                    if(this.radio === undefined) {
                        fd.append("selectedCoupon", JSON.stringify("-1"));
                    } else {
                        fd.append("selectedCoupon", JSON.stringify(this.radio));
                    }
                    fetch("./cart_write_session_api.php", {
                        method: "POST",
                        body: fd
                    })
                    .then(data => data.json())
                    .then(data => {
                        if(data) {
                            window.location = "./cart_form.html";
                        }
                    })
                },
                checkQuantity() {
                    // console.log("chechk");
                    const cart_quantity = document.querySelector("[data-content-before]");
                    const myHref = window.location.href.replace(/coffee_project.*/, "coffee_project/parts/read_quantity_api.php");
                    fetch(myHref)
                    .then(data => data.json())
                    .then(data => {
                        cart_quantity.setAttribute("data-content-before", 0);
                        cart_quantity.setAttribute("data-content-before", data.food.length + data.product.length);
                        if(data.food.length + data.product.length <= 0) {
                            alert("購物車沒有東西");
                            setTimeout(() => {
                                window.location = "../../index_.php"
                            },100);
                        } else {
                            document.querySelector("body").removeAttribute("cart-op");
                        }
                    })
                }
            },
            watch: {
                couponName(newStr) {
                    if(newStr === "無") {
                        this.discountDisplay = 0;
                    }
                },
                settle(newNum) {
                    gsap.to(this, { duration: 0.5, tweened: Number(newNum) || 0 });
                },
                radio(newNum) {
                    if(newNum === undefined) {
                        this.discountDisplay = 0;
                    } else {
                        if (this.selectedCoupon.type === 3) {
                            if(this.selectedCoupon.money < 1) {
                                this.discountDisplay = this.total * (1 - this.selectedCoupon.money);
                            } else {
                                this.discountDisplay = this.selectedCoupon.money;
                            }
                        } else if (this.selectedCoupon.type === 2) {
                            if(this.selectedCoupon.money < 1) {
                                let output = 0;
                                this.dataArray[0].forEach((data) => {
                                    if(data.id === this.selectedCoupon.menu_id) {
                                        output += data.price * data.quantity * this.selectedCoupon.money;
                                    }
                                });
                                this.discountDisplay = output;
                            } else {
                                let total = 0;
                                this.dataArray[0].forEach((data) => {
                                    if(data.id === this.selectedCoupon.menu_id) {
                                        total += data.price * data.quantity;
                                    }
                                });
                                if(total >= this.selectedCoupon.money) {
                                    this.discountDisplay = this.selectedCoupon.money;
                                } else {
                                    this.discountDisplay = total;
                                }
                            }
                        } else if (this.selectedCoupon.type === 1) {
                            if(this.selectedCoupon.money < 1) {
                                let output = 0;
                                this.dataArray[1].forEach((data) => {
                                    if(data.id === this.selectedCoupon.menu_id) {
                                        output += data.price * data.quantity * this.selectedCoupon.money;
                                    }
                                });
                                this.discountDisplay = output;
                            } else {
                                let total = 0;
                                this.dataArray[1].forEach((data) => {
                                    if(data.id === this.selectedCoupon.menu_id) {
                                        total += data.price * data.quantity;
                                    }
                                });
                                if(total >= this.selectedCoupon.money) {
                                    this.discountDisplay = this.selectedCoupon.money;
                                } else {
                                    this.discountDisplay = total;
                                }
                            }
                        } else {
                            this.discountDisplay =  0;
                        }
                    }
                },
                total(newNum) {
                    if(this.radio === undefined) {
                        this.discountDisplay = 0;
                    } else {
                        if (this.selectedCoupon.type === 3) {
                            if(this.selectedCoupon.money < 1) {
                                this.discountDisplay = this.total * (1 - this.selectedCoupon.money);
                            } else {
                                this.discountDisplay = this.selectedCoupon.money;
                            }
                        } else if (this.selectedCoupon.type === 2) {
                            if(this.selectedCoupon.money < 1) {
                                let output = 0;
                                this.dataArray[0].forEach((data) => {
                                    if(data.id === this.selectedCoupon.menu_id) {
                                        output += data.price * data.quantity * this.selectedCoupon.money;
                                    }
                                });
                                this.discountDisplay = output;
                            } else {
                                let total = 0;
                                this.dataArray[0].forEach((data) => {
                                    if(data.id === this.selectedCoupon.menu_id) {
                                        total += data.price * data.quantity;
                                    }
                                });
                                if(total >= this.selectedCoupon.money) {
                                    this.discountDisplay = this.selectedCoupon.money;
                                } else {
                                    this.discountDisplay = total;
                                }
                            }
                        } else if (this.selectedCoupon.type === 1) {
                            if(this.selectedCoupon.money < 1) {
                                let output = 0;
                                this.dataArray[1].forEach((data) => {
                                    if(data.id === this.selectedCoupon.menu_id) {
                                        output += data.price * data.quantity * this.selectedCoupon.money;
                                    }
                                });
                                this.discountDisplay = output;
                            } else {
                                let total = 0;
                                this.dataArray[1].forEach((data) => {
                                    if(data.id === this.selectedCoupon.menu_id) {
                                        total += data.price * data.quantity;
                                    }
                                });
                                if(total >= this.selectedCoupon.money) {
                                    this.discountDisplay = this.selectedCoupon.money;
                                } else {
                                    this.discountDisplay = total;
                                }
                            }
                        } else {
                            this.discountDisplay =  0;
                        }
                    }
                }
            },
            beforeMount() {
                const el = document.createElement("div");
                const docBody = document.querySelector("body");
                fetch("../../parts/navbar.php")
                .then(data => data.text())
                .then(data => {
                    el.innerHTML = data;
                    docBody.insertBefore(el, docBody.childNodes[0]);
                    scrollTo({ top: 0, behavior: "instant" });
                })
                fetch("./cart_read_all_data.php")
                .then(data => data.json())
                .then(data => {
                    if(data === "login") {
                        alert("結帳請先登入會員");
                        setTimeout(() => {
                            window.location = "../09/login.html";
                        }, 100);
                    } else {
                        document.querySelector("body").removeAttribute("coffee-op0");
                    }
                    this.productArray = data.product;
                    this.foodArray = data.food;
                    this.couponArray = data.coupon;
                    this.dataArray.push(data.product);
                    this.dataArray.push(data.food);
                })
            },
            mounted() {
                const myVue = this;
                window.addEventListener("load", () => {
                    setTimeout(() => {
                        myVue.checkQuantity();
                    },100);
                })
            }
        }).mount("#app");
    </script>
</body>

</html>